In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [2]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/'

In [3]:
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html'
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
# results are returned as an iterable list
results = soup.find_all('ul', class_="item_list list_view")
#print(results)

In [5]:
# Loop through returned results
for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        news_title = result.find('h3', class_="title").find('a').text
        
        link = result.a['href']
        
        final_link = 'https://mars.nasa.gov/' + link
        
        response_1 = requests.get(final_link)
        
        soup_1 = BeautifulSoup(response_1.text, 'html.parser')
        
        news_p = soup_1.find('div', class_="wysiwyg_content").p.text
        
        # Print results only if title, price, and link are available
        if (news_title and link):
            print('-------------')
            print(news_title)
            print(news_p)
    except AttributeError as e:
        print(e)

-------------
Mars InSight Lander Seen in First Images from Space
On Nov. 26, NASA's InSight mission knew the spacecraft touched down within an 81-mile-long (130-kilometer-long) landing ellipse on Mars. Now, the team has pinpointed InSight's exact location using images from HiRISE, a powerful camera onboard another NASA spacecraft, Mars Reconnaissance Orbiter (MRO).

In [6]:
# task 2

In [7]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [9]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [10]:
# return image
img = soup.find("div", class_="carousel_items").find("article")["style"].split("'")[1]
featured_image_url = 'https://www.jpl.nasa.gov/' + img
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA19324-1920x1200.jpg

In [11]:
# task 3

In [12]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [14]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [15]:
results_tweets = soup.find_all("li", class_="js-stream-item stream-item stream-item ")
#print(results_tweets)

In [16]:
# Loop through returned results
latest_mars_weather = []
for tweets in results_tweets:
    # Error handling
    try:
        # Identify and return title of listing
        mars_weather = tweets.find("div", class_="js-tweet-text-container").text.strip()
            
        # Print results only if title, price, and link are available
        if 'Sol' in mars_weather:
            latest_mars_weather.append(mars_weather)
    except AttributeError as e:
        print(e)

In [17]:
final_mars_weather = latest_mars_weather[0]
final_mars_weather

'Sol 2258 (2018-12-13), high -6C/21F, low -70C/-93F, pressure at 8.41 hPa, daylight 06:37-18:51'

In [18]:
# task 4

In [19]:
url = 'https://space-facts.com/mars/'

In [20]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
type(tables)

list

In [22]:
df = tables[0]
df.columns = ['Criteria', 'Values']
df.head()

               Criteria                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [23]:
 df.set_index('Criteria', inplace=True)
df.head()

                                             Values
Criteria
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [24]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Criteria</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Criteria</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [26]:
# task 5

In [27]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [28]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [29]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [30]:
link = soup.find('div', class_="item").find('a')['href']
final_link = 'https://astrogeology.usgs.gov' + link
print(final_link)

https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced

In [31]:
# results are returned as an iterable list
results = soup.find_all('div', class_="item")
#print(results)

In [32]:
for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        
        link = result.a['href']
        
        final_link = 'https://astrogeology.usgs.gov' + link
        
        # Print results only if title, price, and link are available
        print('-------------')
        print(final_link)

    except AttributeError as e:
        print(e)

-------------
https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
-------------
https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
-------------
https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
-------------
https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced

In [33]:
hemisphere_image_urls = []
for result in results:
    dict_hemisphere_image_urls = {}
    # Error handling
    try:
        # Identify and return title of listing
        
        link = result.a['href']
        
        final_link = 'https://astrogeology.usgs.gov' + link
        
        response_1 = requests.get(final_link)
        
        soup_1 = BeautifulSoup(response_1.text, 'html.parser')
        
        title = soup_1.find('h2', class_="title").text
        
        img_url = soup_1.find('div', class_='downloads').find('a')['href']
        
        dict_hemisphere_image_urls['title'] = title
                
        dict_hemisphere_image_urls['img_url'] = img_url
        
        hemisphere_image_urls.append(dict_hemisphere_image_urls)
        
        # Print results only if title, price, and link are available
        print('-------------')
        print(title)
        print(img_url)
        
    except AttributeError as e:
        print(e)

-------------
Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
-------------
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
-------------
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
-------------
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [34]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [37]:
hemisphere_image_urls[2]['title']

'Syrtis Major Hemisphere Enhanced'